

@font-face {
	font-family: 'play-regular';
	src: url('../fonts/play-regular.ttf');
}

@font-face {
	font-family: 'play-bold';
	src: url('../fonts/play-bold.ttf');
}

/*css for non responsive*/

header{
	width: 100% !important;
	min-width: 1200px !important;
}

.container{
  max-width: none !important;
  width:1170px!important;
}

#nav{
	/*width: 1200px;*/
	margin: 0 auto;
}

#content{
	  width: 1200px;
	  margin: 0 auto;
}

.navbar-nav {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	float:none !important;
    margin: 0 auto !important;
    display: table;
    table-layout: fixed;
}

#icon-nav{
	width: 765px;
	display: flex;
}


footer{
	width: 100% !important;
	min-width: 1200px !important;
}

/*end of non responsive css*/

body{
	background-image: url("../images/icons/starrysky.png");
    background-repeat: repeat; 
}

/*sprites*/
.astro-icon, .leftIcons div, #astrJournalIcon, 
#pragmaticLogo, #camIcon{
	background-image: url('../images/icons/sprites.jpg');
  	background-repeat: no-repeat;
  	margin: 0 auto;
  	
}

.boxShadow{
	box-shadow: 0px 0px 5px #000;
}

header {
	position: relative;
	background: url("../images/icons/starsbg.png") repeat;
}

.headerContent {
    background: url("../images/icons/header.png") no-repeat;
    color:#fff;
    height: 230px;
    margin: 0 auto;
    max-width: 1400px;
}

#iconNavigation a:focus{
	background-color: transparent;

}

#nav-container {
	position: absolute;
	width: 100%;
	bottom: 0px;
}



#container{
	padding-right: 0px ; 
	padding-left: 0px ; 
}

#anchors{
	margin-top: 10px;
	padding-left: 19px;
}

#anchors a{
	font-size: 14px;
	font-weight: bold;
	font-family: "corbel",Monospace;
	padding: 1px 5px 3px 0px;
	color: #c7c7c7;
	text-shadow: 1px 0px 0px rgba(87, 86, 87, 1);
	
}

#anchors a:first-child{
	border-right: 1px solid #c7c7c7;
}

#anchors a:hover{
	color:#626262;
	text-decoration: none;
}

#NAOHeader{
	padding-top: 20px;
	margin-bottom: 53px;
}

#header-title{
	font-size: 25px;
	color: #a4a2a6;
	font-family: play-regular;
	letter-spacing: 2px;
}

#clocks p{
	color: #4d4d4e;
	padding-left: 17px;
	font-weight: bold;
}


#navContainer{
	margin: 0 auto;
	float: none;
}

.nav-border-black {
	height: 1px;
	background: linear-gradient( to right, rgba(0,0,0, 0.0), rgba(0,0,0, 0.4), rgba(0,0,0, 0.0));
}

.nav-border-white {
	height: 1px;
	background: linear-gradient( to right, rgba(255,255,255, 0.0), rgba(255,255,255, 1), rgba(255,255,255, 0.0));
}


#nav{
	min-height: 40px;
	margin-bottom: 0px;
	background: linear-gradient( to right, rgba(255,255,255, 0.0), rgba(255,255,255, 0.8), rgba(255,255,255, 0.0));
}


#navigation a{
	font-family: "corbel";
	font-weight: bold;
	color: #434c53;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
	padding:10px 15px 10px 15px;
	opacity: 1;
}

#navigation a:hover {
	background: none;
	color: #6a7883;
}

/*content*/

#content{
	margin-top: 30px;
	margin-bottom: 25px;
}


#impMssg{
	width: 760px;
	margin-top: 30px;
	margin-left: 20px;
	height: 85px;
	background-image: url("../images/icons/importantMssgShadow.png");
	background-repeat: no-repeat;
	background-position: -25px 70px;
}


#panel{
	background-color: rgba(106, 120, 131, 0.1);
	color:#5f666b;
	font-size: 14px;
	font-family: "corbel";

	
}

#panelBody{
	padding: 8px 10px;
	text-align: justify;
	color: #5f666b;
	font-size: 13px;
	font-family: "corbel";
	line-height: 1;
}


#iconContainer{
	padding: 0px;
}


#iconNavigation ul{
	box-shadow: 10px 0px 10px -12px;
}

#iconNavigation li{
	width: 130px;
	height: 75px;
	border-left: 2px groove #ffffff;
	background-image: url("../images/icons/shadow.png");
	background-repeat: no-repeat;
}

#iconNavigation li a{
	padding: 0px;
	text-align: center;
	width: 125px;
	
}

.astro-icon{
	width: 46px;
	height: 46px;
	opacity: 0.4;
}

#upcoming_events{
	background-position: 0px -149px;
}

#comets{
	background-position: 0px -249px;
}
#sun_moon_phenomenon{
	background-position: 0px -50px;
}
#planets_ascension{
	background-position: 0px 0px;
}
#meteor_streams{
	background-position: 0px -99px;
}
#sun_moon_eclipses{
	background-position: 0px -198px;
}


.astroMenuText{
	font-family: corbel;
	font-weight: bold;
	font-size: 11px;
	display: block;
	line-height: 1;
	padding-top: 5px;
	width:125px;
	color: #6a7883;
	
}

#iconNavigation a:hover{
	background-color: transparent;
}

#iconNavigation a:hover > .astro-icon{
	opacity: 1;
	
}

#iconNavigation a:focus > .astro-icon{
	opacity: 1;
	
}

#iconNavigation a:hover > .astroMenuText{
	color: #434c53;
}

#iconNavigation li:last-child{
	border-right: 2px groove #ffffff;
}


#rightAside{
	text-align: center;
	width: 180px;
	
}

#weatherReg{
	border-bottom: 2px ridge #dbddde;
	padding-bottom: 10px;
}

#rightAside span{
	font-size: 12px;
	font-family: "Tahoma";
}

#pragmaticLogo{
	/*display: block;
	float: none;
	margin: 0 auto;
	
	padding-top: 0px !important;*/
	width: 110px;
	height: 110px;
	background-position: -322px 0px;
	margin-bottom: 35px;
}


#rightAside img{
	padding-top: 30px;
}


#leftAside{
	padding-right: 0px;
	padding-left: 0px;
}

#banIcon{
	margin: 0 auto;
}

.leftIcons{
	width: 95px;
	margin-bottom: 10px;
	display: inline-block;
	font-family: "corbel";
	font-size: 12px;
	text-align: center;
}

#smolyan_icon{
	width: 60px;
	height: 77px;
	background-position: -438px 0px;;
}

#chepelare{
	width: 62px;
	height: 86px;
	background-position: -438px -82px;
}

#bau{
	width: 74px;
	height: 53px;
	background-position: -438px -172px;
}

#niggg{
	width: 57px;
	height: 59px;
	background-position: -437px -228px;
}

#nimh{
	width: 63px;
	height: 64px;
	background-position: -437px -292px;
}

#moew{
	width: 63px;
	height: 64px;
	background-position: -437px -357px;
}

#partnersHeader{
	font-family: "Tahoma";
	font-size:12px;
	text-align: center;
	display: block;
	color: #6a7883;
	margin-bottom: 10px;
}

#partners{
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 60px;
}

#partners p{
	color: #434c53;
}

#partners a:hover{
	color: #000;
}

#sectionArticles{
	background-image: url("../images/icons/shadowOfArticles.png");
	background-repeat: no-repeat;
	background-position: 390px 0px;
	padding-left: 12px;
	padding-right: 0px;
	height: 300px;
	margin-top: 25px;
}

#left-section-articles{
	padding-left: 10px;
}

.left-article{
	width:345px;
	height:95px;
	padding-left: 0px;
	border-bottom: 2px dotted #91a2b0;
	position: relative;
	margin-top: 15px;
}

.list-group{
	margin-bottom: 0px !important;
}
	
#sectionArticles .left-article:first-child{
	margin-top: 5px;
}

.left-article a {
	background:transparent;
	border: none;
	padding: 0px;
}

.left-article a:hover {
	background-color: transparent !important;
}

.left-article a:hover>.readMoreArrow{
	opacity: 1;
}

.leftArticleHeader{
	font-weight: bold;
	margin:0px;
	padding-bottom: 5px;
}

.leftPics {
	position: absolute;
	float:left;
	box-shadow: 0px 1px 5px;
	margin-top: 3px;
}

.leftItemText{
	font-family: "corbel";
	font-size: 12px;
	padding: 0px;
	width: 326px;
	padding-left: 95px;
	text-align: justify;
	line-height: 1.3;
	position: absolute;
}

.left-article-news{
	width: 230px;
	line-height: 1.2;
	height: 45px;
}


.readMoreArrow{
	opacity: 0.3;
	float: right;
	padding-top: 10px;
}

.time{
	float: right;
	margin-top: -10px;
	margin-right: -20px;
	font-weight: bold;
	font-family: "tahoma";
	font-size: 10px;
}

.left-article:last-child{
	border:none;
}

.rightArticles{
	width: 360px;
	height: 150px;
	border-bottom: 2px dotted #91a2b0;
	padding-left: 5px;
}

.rightArticles a:hover {
	background-color: transparent !important;
}

.rightArticles a:hover>.readMoreArrowRight{
	opacity: 1;
}

.rightArticleHeader{
	font-family: "Tahoma";
	font-weight: bold;
	text-decoration: none;
	color: #434c53;
	margin-bottom: 20px;
}

.rightArticles a{
	background: transparent;
	border: none;
	padding: 0px;
	position: relative;
}

.rightItemText p{
	width: 160px;
	height: 75px;
	position: absolute;
	font-size: 12px;
	line-height: 1.4;
	font-family: "corbel";
}

.rightItemText{
	position: absolute;
}

.readMoreArrowRight{
	padding-top: 45px;
	padding-left: 165px;
	opacity: 0.3;
}

.rightPics{
	float: right;
}

.rightArticles:last-child{
	padding-top: 18px;
	border: none;
}

#cam{
	text-align: center;
	margin-top: 30px;
	width: 165px;
	margin-bottom: 18px;
}

#camIcon{
	width: 100px;
	height: 80px;
	background-position: -214px 1px;
	margin-top: 25px;

}

#cam h6{
	font-family: tahoma;
	font-weight: bold;
	color: #6a7883;
}

#cam #camIcon{
	opacity: 0.4;
}

#cam a:hover>#camIcon{
	opacity: 1;
}

#cam a:hover{
	text-decoration: none;
}

#astrJournal{
	margin-top: 5px;
	text-align: center;
	background: transparent;
}

#astrJournalIcon{
	width: 121px;
	height: 172px;
	background-position: -222px -118px;
}

#astrJournal a{
	background: transparent;
}

/*css for carousel slider*/
.carousel-inner .active.left{ 
	left: -33%; 
}
.carousel-inner .next{
	left:  33%;
}
.carousel-inner .prev{ 
	left: -33%; 
}
.carousel-control.left,.carousel-control.right{
	background-image:none;
}

.pad{
	max-width: 230px;
	padding-left: 5px !important;
	padding-right: 5px !important;
}

#myCarousel{
	width: 755px;
	margin-left: 30px;
	margin-top: 42px;
}

#myCarousel a{
	width: 5%;
	background-repeat: no-repeat;
	background-position: 0px;
}

#carouselInner{
	padding-bottom: 5px;
	width: 690px;
	margin-left: 27px;
}

.con{
	margin-top: 5px;
	margin-bottom: 11px !important;
	padding-bottom: 5px !important;
}

#leftArrowSlide{
	background-image: url("../images/icons/leftArrowSlide.png");
	margin-left: -4px;
}

#rightArrowSlide{
	background-image: url("../images/icons/rightArrowSlide.png");
	margin-right: -15px;
}

#leftArrowShadow{
	position: absolute;
	top: 3px;
	left: 20px;
}

#rightArrowShadow{
	position: absolute;
	top: 3px;
	right: 30px;
}

.imgContainer{
	position: relative;
	display: inline-block;
	width: 220px;
	height: 165px;
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
}

.hoverImg{
	position: absolute;
	left: 2px;
	display: block;
	top:0;
	padding-top: 2px;
	opacity: 0;
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
}

.hoverImg:hover{
	opacity: 0.6;
}

.imgContainer:hover {
   -webkit-filter: grayscale(100%);  
    -webkit-filter: grayscale(1);  
    filter: grayscale(100%);  
  	filter: url('../images/icons/gray.svg#grayscale');  
    filter: gray;
}

/*end of css for carousel slider*/


/*FOOTER*/

footer {
	background: url("../images/icons/starsbg.png") repeat;
}

.divider {
	background-image: url("../images/icons/navBorder.png");
	background-repeat: repeat-x;
	height: 2px;
}

#fourthRow{
	margin-top: 20px;
}

.footerContent{
	background: url("../images/icons/footerBg.png") no-repeat;
	color: #fff;
	height: 210px;
	margin: 0 auto;
	max-width: 1400px;
}

.up{
	opacity: 0.4;
	transition: all 500ms ease-out;
}

.up:hover{
	opacity: 0.8;
}

.title{
	font-family: "corbel";
	font-weight: bold;
	text-decoration: underline;
	color: #58646d;
	margin-top: 0px;
	margin-bottom: 0px;
}

.footerContent a{
	text-decoration: none;
	color: #434c53;
}

.footerContent a:hover{
	text-decoration: none;
	font-weight: bold;
	color: #434c53;
}

.footerContent a:focus{
	text-decoration: none;
	color: #434c53;

}

.links{
	padding-left: 0px ;
	margin-top: 10px;
}

.links li{
	font-family: "tahoma";
	font-size:12px;
	color: #434c53;
	list-style-type: none;
	font-weight: normal;
	text-decoration: none;	
}

.links a{
	display: inline-block;
	position: relative;
}

.IconBoot{
	border: 1px #434c53 solid;
	border-radius: 100%;
	width: 18px;
	height: 18px;
	position: absolute;
}

.fa{
	padding-left: 4px;
	color: #BAC0C4;
	position: absolute;
	padding-top: 1px;
	line-height: 1.4 !important;
}

#fb-icon{
	padding-left: 5px;
}

#follow{
	padding-left: 0px ;
	margin-top: 10px;
	
}

#follow a{
	height: 22px;
}

#follow li{
	padding-top: 2px;
}

#footerLinks{
	padding-left: 0px ;
	margin-top: 10px;
}

#footerLinks .fa{
	padding-left: 5px;
	width: 14px;
	height: 14px;
}

#footerLinks li{
	padding-bottom: 5px;
}

#footerLinks a{
	height: 20px;
}

#inputEmail{
	opacity: 0.4;
	box-shadow: -2px 2px 10px #000 inset;
	border: #000;
}

.socialSpan{
	padding-left: 22px;
}

#inputEmail:focus{
	box-shadow: none;
}

#mail-submit {
	width: 100%;
	text-transform: uppercase;
	background: linear-gradient(rgba(186, 192, 196, 0.25) 50%,rgba(67, 76, 83, 0.25) 50%);	
	color: #bac0c4;
	font-size: 16px;
	border: 1px solid rgba(67, 76, 83, 0.5);
	border-radius: 3px;
}

#mail-submit:hover{
    background: linear-gradient(#454f56,#6a7883); 
}

#mail-submit:active{
    background: linear-gradient(#6a7883, #454f56); 
}

#rights {
	bottom: 10px;
	position: relative;
	font-family: "tahoma";
	font-size: 12px;
	color: #434c53;
	float: none;
}

#rights p {
	margin-bottom: 0px;
}

